@model PracticeApp.Models.UserModel

@{
    ViewData["Title"] = "SignUp";
}
<h1>SignUp</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SignUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select id="drpConuntryList" class="form-control" asp-for="Country" asp-items="@ViewBag.CountryList">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="Country" class="text-danger"></span>
                <input type="hidden" asp-for="Country" />
            </div>
            <div class="form-group">
                <select id="drpCityList" class="form-control" asp-for="City" asp-items="@new SelectList(Enumerable.Empty<SelectListItem>())">
                    <option value="">--Select City--</option>
                </select>
                <span asp-validation-for="City" class="text-danger"></span>
                <input type="hidden" asp-for="City" />
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label> <br />
                <input type="radio" asp-for="Gender" value="Male" /> Male<br />
                <input type="radio" asp-for="Gender" value="Female" /> Female
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Terms" />
                    @Html.DisplayNameFor(model => model.Terms)
                </label>
                <span asp-validation-for="Terms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign Up" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        jQuery.validator.unobtrusive.adapters.add("checkbox", function (options) {
            if (options.element.tagName.toUpperCase() == "INPUT" && options.element.type.toUpperCase() == "CHECKBOX") {
                options.rules["required"] = true;
                if (options.message) {
                    options.messages["required"] = options.message;
                }
            }
        });

        $(document).ready(function () {
            $("#drpConuntryList").change(function () {
                $.get("/Account/GetCityList", { CountryId: $("#drpConuntryList").val() }, function (data) {
                    $("#drpCityList").empty();
                    $.each(data, function (index, row) {
                        $("#drpCityList").append("<option value='" + row.cityId + "'>" + row.cityName + "</option>")
                    });
                });
            })
        });
    </script>
}


